*{
    font-family: Arial, Helvetica, sans-serif;
}
.bannar{
    background-image: url('/images/banner/banner1.png');
    height: 800px;
    width: 1440px;
    text-align: right;
}
.m-bannar{
    padding-top: 200px;
    padding-right: 200px;
}
.bannar-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}
.sub-bannar-title{
    color: rgb(143, 143, 138);
    font-size: 17px;
    line-height: 20px;
}
.btn-first{
    background: rgb(223, 65, 17);
    padding: 10px 10px;
    font-weight: 550;
    font-size: 35px;
    border-radius: 6px;
    border: 0;
    color: white;
}

/* work at main styles */
.between{
    margin-top: 115px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-right: 350px;
}
.me-title{
    font-weight: 550;
    font-size: 50px;
}
.title-discription{
    font-size: 20px;
}
.plan{
    text-align: center;
}
.plans{
    margin-top: 150px;
    text-align: center;
    font-weight: 750;
    font-size: 45px;
}
.plan-title{
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 250px;
    display: flex;
    justify-content: space-around;
}
.sub-plan-title{
    margin-top: 20px;
    font-weight: 650;
    font-size: 30px;
}
.plan-discription{
    font-size: 25px;
}
.body-bannar{
    margin: 110px 0 200px 200px;
    padding-left: 60px;
    padding-top: 50px;
    height: 301px;
    width: 1140px;
    background-image: url('/images/watch.png');
    background-repeat: no-repeat;
}
.body-bannar-title{
    color: white;
    font-weight: 700;
    font-size: 35px;
}
.btn-second{
    border: 0;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: rgb(223, 65, 17);
}
.footer{
    padding: 120px 220px;
    margin-top: -105px;
    height: 300px;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-weight: 700;
    font-size: 30px;
}
a{
  text-decoration: none;
}
.form-discription{
    display: block;
}
form h1{
    font-weight: 700;
    font-size: 30px;
}
.email {
    border: 1.5px solid white;
    color: white;
    background: black;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 60px;
    font-size: 15px;
}
.btn{
    margin-top: 5px;
    background: rgb(253, 252, 252);
    padding: 5px 5px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    color: rgb(223, 65, 17);
}

